/* html{
    height:100%;
    font-family: sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    height:100%;
    margin: 0px;
} */

html, body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
  }