html{
    height:100%;
    /* background-color: blue; */
    font-family: sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    height:100%;
    margin: 0px;
}

main{
    flex: 1;
}

header{
    background-color: grey;
    margin: 0px;
    padding: 0px;
    border:0px;
}

footer{
    background-color:aqua;
}

.header-left{
    float:left;
    margin-left: 10px;
    color: black;
}

.header-right{
    float:right;
    margin-right: 10px;
    color: black;
}


a{
    text-decoration: none;
}

a:visited{
    color:black;
}

.nav-svg{
    height:40px;
    margin-top: 13px;
}

/* .nav-title{
    font-size: 25px;
}

.nav-subtitle{
    font-size: 23px;
} */

.header-card{
    height:100%;
    margin-top: 0px;
    /* padding: 100%; */
    align-self: center;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.header-card:hover{
    background-color: greenyellow;
}

/* .navbar{
    position: fixed;
    width:100%;
    transition: background-color 1s;
  
  }
  
  .rect{
    width:100%;
    height:100vh;
  }
  #green{
    background-color:#559065;
  }
  #blue{
    background-color:#7eb3a7;
  } */