html{
    height:100%;
    /* background-color: blue; */
    font-family: sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    height:100%;
    margin: 0px;
}

main{
    flex: 1;
}

header{
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border:0px;
}

footer{
    background-color: red;
}

.header-left{
    float:left;
    margin-left: 10px;
    color: #30302e;
}

.header-right{
    float:right;
    margin-right: 10px;
    color: #30302e;
}


a{
    text-decoration: none;
}

a:visited{
    color:#30302e;
}

a:hover{
    color:black;
}

.nav-svg{
    height:40px;
    margin-top: 13px;
    
}

.footer-svg{
    /* padding-top: 20px;
    padding-bottom: 10px; */
    color: black;
    /* height:100% */
}

.footer-title{
    text-align: center;
    display:flex;
    align-items:center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.footer-inside{
    display:inline-block;
    margin-left: 10px;
}

.header-card{
    height:100%;
    margin-top: 0px;
    /* padding: 100%; */
    align-self: center;
    align-items:center;
    justify-content: center;
    text-align: center;
}

h1{
    text-align: center;
    color:#30302e;
}

.about-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.about-content{ 
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

